# Python >= 3.6 compatible
fastapi==0.63.0
uvicorn==0.13.4
httpx==0.16.1
pydantic==1.7.4
starlette==0.13.6
anyio==1.4.0
h11==0.12.0
click==7.1.2
sniffio
idna
certifi
httpcore==0.12.3
rfc3986
typing-extensions
dataclasses
async-generator
